:root {
  --color-oc-gray-0: #f8f9fa;
  --color-oc-gray-1: #f1f3f5;
  --color-oc-gray-7: #495057;
  --color-oc-gray-8: #343a40;
  --color-oc-gray-9: #212529;
  --color-oc-orange-4: #ffa94d;
  --dimensions-gap: 1rem;
  --font-didone: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
  --font-geometric-humanist: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --font-handwritten: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  --font-monospace-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --font-rounded-sans: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;

  --clr-bg: var(--color-oc-gray-1);
  --clr-fg: var(--color-oc-gray-0);
  --clr-text: var(--color-oc-gray-9);
  --clr-text-sub: var(--color-oc-gray-7);
  --dim-gap: var(--dimensions-gap);
  --fnt-mono: var(--font-monospace-code);
  --fnt-sans: var(--font-geometric-humanist);
  --fnt-script: var(--font-handwritten);
  --fnt-serif: var(--font-didone);

  box-sizing: border-box;
  min-height: 100vh;
  background: var(--clr-bg);
  color: var(--clr-text);
  font-family: var(--fnt-sans);

  & * {
    box-sizing: border-box;
  }
}

header, main {
  display: flex;
  justify-content: center;
}

main > .grouping {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  position: relative;
  width: min-content;

  & > * { width: max(250px, min(95vw, 200px + 60vw)); }

  & > :first-child {
    width: unset;
    align-self: flex-start;
    border-bottom-left-radius: 0;
  }
  & > :not(h1, h2, h3) {
    margin-left: 1.75rem;
    position: relative;
    width: calc(max(250px, min(95vw, 200px + 60vw)) - 1.75rem);

    &::before {
      content: "";
      position: absolute;
      top: calc(-0.75rem - 3px);
      bottom: -1.5px;
      left: calc(-1.75rem - 1.5px);
      width: 0.75rem;

      background: var(--clr-fg);
      border: 1.5px solid var(--clr-text-sub);
      border-top: none;
      border-bottom: none;
    }

    &:last-child::before {
      border-bottom: 1.5px solid var(--clr-text-sub);
      border-bottom-left-radius: 0.5rem;
    }
  }
}

main {
  flex-direction: column;
  align-items: center;

  & :where(h2, h3, h4) {
    margin: unset;
  }

  & .island {
    background: var(--clr-fg);
    border: 1.5px solid var(--clr-text-sub);
    border-radius: 0.15rem;
    box-shadow: 0 0 4px #3333, inset 0 0 8px #fff;
    padding: 0.5rem;

    & > * { width: 100%; }
  }
}

#map {
  min-height: 500px;
  min-width: 500px;
  background: var(--clr-fg);

  & *.map-popup {
    position: relative;
    font-size: 0.85rem;

    & *:last-of-type,
    & *:first-of-type {
      margin-top: 0;
      margin-bottom: 0;
    }

    & .name {
      font-size: 1.5rem;
      font-weight: 800;
      line-height: 1.1;

      & > a:first-of-type {
        margin-right: 0.25rem;
        text-decoration: none;

        &:hover { text-decoration: underline; }
      }
    }

    & .distance {
      display: block;
      font-weight: 300;
      font-size: 0.85rem;
      opacity: 0.8;
      vertical-align: top;
    }

    & .comment {
      border-left: 3px solid var(--clr-text-sub);
      padding-left: 0.5rem;
    }

    & .timestamp {
      opacity: 0.8;
      font-style: italic;
      font-size: 0.75rem;
      font-weight: 300;
      margin-right: 3rem;
    }

    & .action {
      position: absolute;
      bottom: 0;
      right: 0;

      & a {
        padding: 0.25rem;
      }
    }
  }
}

#table {
  & thead td {
    font-weight: 700;
    text-align: center;
  }

  & tbody {
    & tr > td:last-of-type { font-family: var(--fnt-mono); }
    & tr:nth-of-type(odd) { backdrop-filter: brightness(0.9); }
  }

  & tr > td:first-of-type { text-align: left; }
  & tr > td:last-of-type { text-align: right; }
  & tr:has(td:target) { outline: 2px solid var(--clr-text); }
}

& .button-wrapper {
  margin: 0.25rem 0;
  text-align: right;
  width: 100%;

  & > *:where(button, a) {
    color: var(--clr-bg);
    background: var(--clr-text);
    border: 1px solid var(--clr-text-sub);
    border-radius: 0.15rem;
    padding: 0.1rem 0.35rem;
    text-decoration: none;

    transition-property: background-color, border-width, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;

    &:hover,
    &:focus {
      background-color: var(--clr-bg);
      border-width: 2px;
      color: var(--clr-text);
    }
  }
}
