:root {
  --color-oc-gray-0: #f8f9fa;
  --color-oc-gray-1: #f1f3f5;
  --color-oc-gray-7: #495057;
  --color-oc-gray-8: #343a40;
  --color-oc-gray-9: #212529;
  --color-oc-orange-4: #ffa94d;
  --dimensions-gap: 1rem;
  --font-didone: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
  --font-handwritten: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  --font-rounded-sans: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;

  --clr-bg: var(--color-oc-gray-1);
  --clr-fg: var(--color-oc-gray-0);
  --clr-text: var(--color-oc-gray-9);
  --clr-text-sub: var(--color-oc-gray-7);
  --dim-gap: var(--dimensions-gap);
  --fnt-sans: var(--font-rounded-sans);
  --fnt-script: var(--font-handwritten);
  --fnt-serif: var(--font-didone);

  min-height: 100vh;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: var(--fnt-sans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li, dt {
  margin-left: 1.5em;
}

dd {
  font-weight: 600;
}

dt {
  color: var(--clr-text-sub);
  line-height: 1.4;
}

b {
  font-weight: 650;
}

.layout.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--dim-gap);
  height: 100%;
  padding: var(--dim-gap) 0;
}

.layout .island {
  background-color: var(--clr-fg);
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  padding: var(--dim-gap);
  position: relative;
  width: min(70ch, calc(100vw - 4rem));
}

/* ------------------------ */
/* #region HEADER           */

header {
  padding: 1rem;
}

header h1 {
  font-weight: 900;
  line-height: 1;
}

/* #endregion               */
/* ------------------------ */

/* ------------------------ */
/* #region MAIN             */

main > section {
  background-color: var(--clr-fg);
  flex: 1;
}

main form {
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  margin: var(--dim-gap) 0;
  padding: var(--dim-gap);
}

main form label {
  display: inline-block;
  min-width: 60px;
  text-align: right;
}

main form label::after {
  content: ': ';
}

/* #endregion               */
/* ------------------------ */
