@import url('./_style.css');

body {
  --clr-red: #c40233;
  --clr-yellow: #ffd300;
  --clr-green: #009f6b;
  --clr-blue: #0087bd;
  --clr-black: hsl(198, 100%, 7%);

  --box-shadow: 0 0.5rem 1rem -0.125rem rgba(50, 50, 50, 0.1), inset 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.15);

  /* display: flex;
  justify-content: center; */
}

main {
  font-family: 'Inter', sans-serif;
  padding: 1rem;
  accent-color: var(--clr-yellow);
  min-width: min(300px + 5vw, 100%);
  width: 55vw;
}

.refresh-message {
  color: var(--clr-yellow);
  font-weight: 600;
}

#settings-container {
  border-radius: 0.25rem;
}

#toy-container {
  counter-reset: toyCounter;
  margin-top: 1rem;
}

#toy-container button {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background: var(--clr-yellow);
  border: 1px solid var(--clr-black);
  box-shadow: var(--box-shadow);
}

#toy-container input:not([type="color"]) {
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  border: 1px solid var(--clr-black);
  box-shadow: inset var(--box-shadow);
}

#toy-container input:read-only:not([type="color"]) {
  background: #0000;
}

#toy-container > .toy {
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid var(--clr-black);
  background: #ffd30011;
  box-shadow: var(--box-shadow);
}

#toy-container > .toy-title {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  counter-increment: toyCounter;
}

#toy-container > .toy-title::before {
  content: counter(toyCounter) '. ';
}

/* solar-noon */
/* #region */
.solar-noon-visual {
  width: 100%;
  height: 2rem;
  background-color: #000a;
  display: grid;
  margin: 0;
  padding: 0;
  border-radius: 0.25rem;
  overflow: hidden;
}

.solar-noon-visual > div {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

.solar-noon-visual > div:first-child {
  background: linear-gradient(90deg, black, #b5d6e088);
}
.solar-noon-visual > div:nth-child(2) {
  background: linear-gradient(90deg, #b5d6e0, #c7e1e5, #ffef7a, #f7c16a, #f46a55);
}
.solar-noon-visual > div:last-child {
  background: linear-gradient(90deg, #f46a5588, black);
}

.solar-noon-visual > div > div {
  width: 0;
  height: 100%;
  border-left: 1px double gray;
}
/* #endregion */

/* color-avatar */
/* #region */
.color-avatar {
  display: flex;
  flex-direction: column;
}

.color-avatar > input {
  width: 100%;
}

.avatar-container {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.color-avatar .avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
  background: #f46a55;
}
/* #endregion */

/* color-namer */
/* #region */
.color-namer {
  display: flex;
  flex-direction: column;
}

.color-namer > span {
  background-color: #fffc;
  text-align: center;
}

.color-namer > input {
  margin: 0;
  z-index: 1;
}

.color-namer > input:focus {
  outline: none;
}

.color-namer pre {
  background-color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}
/* #endregion */

/* color2name */
/* #region */
.color2name > .in {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.color2name > .in input[type="text"] {
  flex: 1 1 6rem;
  max-width: 100%;
}

.color2name > .in input[type="color"] {
  width: 2rem;
  height: 2rem;
}

.color2name > .out {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  border-top: 1px solid #999;
}

.color2name label {
  font-weight: 700;
}

.color2name li {
  display: grid;
  grid-template-columns: 2.5rem 1rem 1fr;
  align-items: center;
  gap: 0.25rem;
}
/* #endregion */

/* catfood-cost-calc */
/* #region */
.catfood-cost-calc {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.catfood-cost-calc > * {
  max-width: 12rem;
}

.catfood-cost-calc button {
  text-align: left;
  width: min-content;
  font-weight: 600;
  margin-bottom: 0.5rem;
  width: 12rem;
  text-align: center;
}

.catfood-cost-calc input:read-only {
  background-color: #f7f7f7;
  border: 1px solid #d9d9d9;
}
/* #endregion */
